/*---------------------------
   ABOUT1.RC resource script
  ---------------------------*/

#include <windows.h>

Rescale DIALOG 20, 20, 122, 56
STYLE WS_POPUP | WS_CAPTION
CAPTION "Rescale Y"
BEGIN
	CONTROL "Double", 12, "BUTTON", WS_GROUP, 20, 3, 40, 14
	CONTROL "Halve", 21, "BUTTON", WS_GROUP, 69, 3, 40, 14
	CONTROL "OK", 10, "BUTTON", WS_GROUP, 69, 29, 40, 14
	LTEXT "Min", -1, 4, 24, 14, 8
	EDITTEXT 40, 20, 22, 40, 12
	LTEXT "Max", -1, 4, 40, 15, 8
	EDITTEXT 41, 20, 38, 40, 12
END

WhatNow DIALOG 13, 22, 87, 35
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "What Now?"
BEGIN
	PUSHBUTTON "Quit", 101, 3, 3, 24, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	PUSHBUTTON "Continue Run", 102, 30, 3, 54, 14
	PUSHBUTTON "Extend Run", 103, 30, 19, 54, 14
	PUSHBUTTON "New", 104, 3, 19, 24, 14
END


NewStop DIALOG 12, 21, 88, 18
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "New Stop Time"
BEGIN
	EDITTEXT 101, 4, 3, 53, 12
	CONTROL "OK", 102, "BUTTON", WS_GROUP, 61, 2, 24, 14
END


IntParam DIALOG 31, 19, 122, 52
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Integration Parameters"
{
 CONTROL "", 101, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 16, 20, 40, 12
 CONTROL "", 102, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 77, 4, 40, 12
 CONTROL "", 103, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 16, 4, 40, 12
 CONTROL "", 104, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 16, 36, 40, 12
 CONTROL "dt", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 22, 12, 8
 CONTROL "Tol", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 38, 12, 8
 CONTROL "t0", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 6, 12, 8
 CONTROL "t1", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 66, 6, 8, 8
 CONTROL "OK", 105, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 92, 28, 24, 13
 CONTROL "Help", 106, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 64, 28, 24, 13, 0
}


